.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  height: 60px;
  background-color: rgb(100, 18, 38);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid rgb(200, 176, 150);
}

.header-svg {
  height: 50px;
  padding-top: 10px;
}
